<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Poppins:wght@100&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo-container">
        <a href="/">
          <img
            src="https://m.media-amazon.com/images/I/81EQuc1SHkL._AC_UF894,1000_QL80_.jpg"
            alt="logo"
            class="homelogo"
          />
        </a>
      </div>
    </header>

    <nav class="nav">
      <ul>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/subscribe">SUBSCRIBE</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
    <p>Contact page temporarily under construction.</p>
  </body>
</html>
