<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars Art</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Poppins:wght@100&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo-container">
        <a href="/">
          <img
            src="https://m.media-amazon.com/images/I/81EQuc1SHkL._AC_UF894,1000_QL80_.jpg"
            alt="logo"
            class="homelogo"
          />
        </a>
      </div>
    </header>

    <nav class="nav">
      <ul>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/signup">SIGN UP</a></li>
        <li><a href="/favourites">FAVOURITES</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>

    <div class="collage-container">
      <img
        src="https://i.pinimg.com/originals/3a/b7/5b/3ab75b5f7688228ae280951b349917b9.jpg"
        alt="photo-collage"
        class="photo-collage"
      />
    </div>

    <p class="home">
      Welcome to our Star Wars Art Gallery.
      <br />Explore a galaxy of stunning artworks from your favourite Star Wars
      universe.
    </p>

    <div class="photo-container">
      <img
        src="https://i.etsystatic.com/11501355/r/il/738c8e/1139330596/il_1588xN.1139330596_qs60.jpg"
        alt="darth-teath"
        class="collage-photos"
      />
      <img
        src="https://i.etsystatic.com/11501355/r/il/818483/1185933627/il_1588xN.1185933627_b91s.jpg"
        alt="stormtroopers-tandem"
        width="400"
        height="300"
        class="collage-photos-storm"
      />
      <img
        src="https://i.etsystatic.com/11501355/r/il/4ae809/1139602748/il_1588xN.1139602748_3t2r.jpg"
        alt="boba-knits"
        class="collage-photos"
      />
      <img
        src="https://i.etsystatic.com/11501355/r/il/631319/1139330998/il_1588xN.1139330998_pwhi.jpg"
        width="400"
        height="300"
        alt="picnic"
        class="collage-photos-storm"
      />
    </div>
  </body>
</html>
